body{
    background-color: rgb(175, 173, 170);
font-size: 23px;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border:white solid 10px;
line-height: 1;
color: rgb(0, 0, 0);
}
h1{
color: rgb(92, 92, 95);
background-color: antiquewhite;
}
p{
    font-size:25px;
}